.container-footer {
  height: auto;
  background-color: rgb(2, 49, 88);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem 0 2rem 0;
}

.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.info-footer {
  width: 20%;
  display: none;
}

.title-footer {
  font-size: 3.4rem;
  margin-bottom: 2rem;
}

.texto-footer {
  font-size: 1.6rem;
}

.info-contacto {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title-contacto {
  font-size: 3.4rem;
  margin-left: 1rem;
}

.lista-contacto {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.lista-contacto li {
  list-style: none;
}

.iconos-lista {
  margin: 0;
  border-radius: 50%;
  width: 4rem;
}

.lista-contacto__item {
  display: flex;
  margin: 1.6rem 0 0 0;
  font-size: 1.6rem;
  justify-content: start;
}

.info-contacto__email,
.info-contacto__numero,
.info-contacto__direccion {
  margin-left: 2rem;
}

.logo-footer {
  display: flex;
  width: 4rem;
  border-radius: 50%;
  margin: 2rem auto;
  transition: 0.8s;
  margin: 2rem;
}

.logo-footer:hover {
  transform: scale(1.2);
}

.redes-sociales {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem auto;
}

.logo-youtube {
  width: 5rem;
}

@media screen and (min-width: 775px) {
  .container-footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35rem;
  }

  .footer {
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .info-footer {
    display: block;
    width: 30%;
    font-size: 1.6rem;
  }

  .texto-footer {
    font-size: 1.8rem;
  }

  .info-contacto {
    width: 30%;
  }

  .iconos-lista {
    width: 3rem;
  }

  .redes-sociales {
    flex-direction: column;
    width: 10%;
    margin: -5rem;
  }

  .logo-footer {
    display: flex;
    width: 4rem;
    border-radius: 50%;
    margin: 1rem auto;
    transition: 0.8s;
  }

  .logo-youtube {
    width: 4rem;
  }
}
